@import "tailwindcss";

@theme {
  --color-bg-dark-1: #000333;
  --color-bg-dark-2: #001c4a;
  --color-bg-dark-3: #2F578A;
  --color-accent-cyan: #c4953b;
  --color-accent-purple: #000333;
  --color-text-white: #F8FAFC;
  --color-text-gray: #94A3B8;

  --color-logo-darkblue:#000333;
  --color-logo-lightblue:#001c4a;
  --color-logo-darkyellow:#c4953b;
  --color-logo-lightyellow:#c7973b;
  
  --font-display: 'Space Grotesk', 'Satoshi', sans-serif;
  --font-body: 'Inter', sans-serif;
}

/* Custom Base Layers */
@layer base {
  html, body {
    background-color: var(--color-bg-dark-1);
    color: var(--color-text-white);
    font-family: var(--font-body);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
    letter-spacing: -0.02em;
  }
}

/* Custom Smooth Scrolling Tweaks */
html.lenis, html.lenis body {
  height: auto;
}

.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis-smooth [data-lenis-prevent] {
  scroll-behavior: contain;
}

/* Hide native cursor globally if mouse is supported */
@media (pointer: fine) {
  body {
    cursor: none;
  }
  a, button, select, input, textarea {
    cursor: none !important;
  }
}

/* dark blue: 000333
light blue: 001c4a
dark yellow: c4953b
light yellow: c7973b */
